/* About ATS */
.about-ats-section {
    margin-top: 40px;
}

.about-ats-section h1 {
    text-align: center;
    padding-top: 30px;
}

/* About the Team */
.about-team-section {
    background-color: #66cccc;
}

.about-team-section h1 {
    text-align: center;
    padding-top: 30px;
}

.subheading-text {
    color: white !important;
    padding-top: 5px;
    text-align: center;
}


.contact-icons {
    font-size: 20pt;
    color: #66cccc;
    margin-right: 10px;
}

.fa-envelope-o {
    font-size: 23pt !important;
}

.lead, .position {
    font-family: 'Montserrat', sans-serif !important;
    margin-bottom: 0 !important;
}

.position {
    color: #8e8e8e;
}

.team-desc {
    margin: 20px;
}

.team-img {
    width: 100px;
    height: auto;
    border: solid 3px #ffb13b;
    border-radius: 50px;
    margin-top: -50px;
    margin-bottom: 10px;
}

.btn-arrow {
    color: #ffb13b !important;
    background-color: #fff;
    border: solid 2px #ffb13b !important;
    z-index: 2;
}

/* slider */
.MultiCarousel { float: left; overflow: hidden; padding: 40px; width: 100%; position:relative; margin-left: 20px; margin-right: 20px; margin-top: 50px;}
    .MultiCarousel .MultiCarousel-inner { transition: 1s ease all; float: left; }
        .MultiCarousel .MultiCarousel-inner .item { float: left;}
        .MultiCarousel .MultiCarousel-inner .item > div { text-align: center; padding:10px; margin:10px; background:#fff; color:#666; border-top: solid 3px #ffb13b; border-radius: 0px 0px 15px 15px;}
    .MultiCarousel .leftLst, .MultiCarousel .rightLst { position:absolute; border-radius:50%;top:calc(50% - 20px); }
    .MultiCarousel .leftLst { left:0; top: 0; }
    .MultiCarousel .rightLst { right:0; top:0; }
    
        .MultiCarousel .leftLst.over, .MultiCarousel .rightLst.over { pointer-events: none; opacity: 0.5; color: #666}

/* Up Button */
#btn-up {
    border-radius: 30px;
    background-color: #ffb13b;
    color: white;
    transition: opacity 0.3s ease-in-out;  
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 1;
}

.btn-up:hover {
    opacity: 0.5;
    color: white;
}

/* About Beavver */
.about-beavver-section {
    background-color: #f5f5f5;
    margin-top: 40px;
}

.about-beavver-section h1 {
    text-align: center;
    padding-top: 30px;
}

.our-mission, .our-story {
    margin: 50px;
}

.our-mission-img {
    margin: 20px;
}

/* About Landing */
.btn-down {
    color: #ffb13b !important;
    background-color: #fff;
    border: solid 2px #ffb13b !important;
    border-radius: 50px;
    z-index: 2;
    width: 40px;
    height: 40px;
}


.beavver-logo {
    width: 50px;
    height: auto;
    margin: 0 auto;
    margin-top: 15px;
}

.ats-logo {
    width: 80px;
    height: auto;
    margin: 0 auto;
    margin-top: 15px;
}

.glyphicon-user {
    font-size: 40pt;
    color: #000;
    margin-top: 15px;
}

.about-beavver, .about-team, .about-ats {
    width: 100px;
    height: auto;
    border-radius: 15px;
    border: 1px solid #ccc;
    margin: 10px;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 15px;
}

.about-landing {
    margin-top: 40px;
    text-align: center;
    padding: 15px;
}

.about-beavver>a, .about-team>a, .about-ats>a {
    color: #000;
}

.about-beavver:hover, .about-team:hover, .about-ats:hover {
    opacity: 0.5;
}