.page-title {
    font-size: 28pt;
    padding-top: 8pt;
}

.content {
    margin-top: 20px !important;
}

.primaryBtn {
    width: auto !important;
    margin-top: 10px;
}

.primaryBtn > a {
    color: black !important;
}

.primaryBtn > a:hover {
    color: white !important;
}