/* FAQ CONTROL */
.sub-header {
    font-family: 'Montserrat', sans-serif !important;
    color: #838383 !important;
}
.faq-control>ul>li {
    border: 1px solid #ddd;
    margin: 0!important;
}

.faq-control>.nav-tabs>li.active>a{
    border: none !important;
}

.faq-control>.nav-tabs>li.active>a:hover{
    background-color: #eee !important;
}

.faq-control>.nav-tabs>li>a{
    color: #66cccc;
}

/* HEADER */
.page-title {
    font-size: 28pt;
    padding-top: 8pt;
}

.content {
    margin-top: 20px !important;
}

.faq-btn {
    width: auto !important;
    margin-top: 10px;
}

.faq-btn > a {
    color: black !important;
}

.faq-btn > a:hover {
    color: white !important;
}

/* ACCORDION */

.arrows {
    float: right;
}

.card-header {
    background-color: #fff;
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
    cursor: pointer !important;
}

.card-body {
    background-color: #eee;
    margin: 10px;
    padding: 20px;
    font-family: 'Roboto', sans-serif !important;
}

.card-header a {
    color: #333 !important;
}

.card-header:hover {
    background-color: rgba(229,255,255,0.5);
    color: #66cccc !important;
}