.signup {
  width: 172px;
  height: 37px;
  border-radius: 18.5px;
  background-color: #ffb13b;
  border: none;
  transition: 0.3s;
  font-size: 10pt;
  margin-left: 10px;
  margin-right: 10px;
  font-family: 'Montserrat', sans-serif;
    
}

.signup:hover{
  cursor: pointer;
  border-radius: 0px;
  
    
}

.login {
  width: 120px;
  height: 37px;
  border-radius: 18.5px;
  background-color: white;
  border-style: solid;
  border-width: 3px;
  border-color: #ffb13b;
  transition: 0.3s;
  font-size: 10pt;
  margin-left: 10px;
  margin-right: 10px;
  font-family: 'Montserrat', sans-serif;
    
}

.login:hover{
  border-style: solid;
  border-width: 3px;
  cursor: pointer;
  border-radius: 0px;
    
}

#logo {
    width: 143px;
    height: 100%;
    background-size: cover;
    margin-right: 20px;
}

.mnavlink {
    font-size: 10px;
    letter-spacing: 2.4px;
    text-align: right;
    color: #9fa3a7;
    margin: 15px;
    font-family: 'Montserrat', sans-serif;
}

#title {
    font-family: 'Arvo', sans-serif;
    font-size: 35.8px;
    line-height: 1.28;
    text-align: center;
    color: #292929;
    margin: 30px;
}

#desc {
    font-size: 12px;
    line-height: 1.83;
    text-align: center;
    color: #9fa3a7;
    margin: 10px;
}

.step {
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    letter-spacing: 2.4px;
    text-align: center;
    color: #292929;
    margin-top: 20px;
    margin-bottom: 25px;
}

.rinput {
    display: block;
    width: 100%;
    border-radius: 8px;
    border-style: solid;
    border-width: 0.5px;
    padding: 2.5px;
    border-color: #9fa3a7;
}

.jinput {
    display: block;
    font-size: 10pt;
    height: 281px;
    width: 100%;
    border-radius: 8px;
    border-color: #9fa3a7;
    text-align: center;
}

#mrow {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.mlabel {
    font-family: 'Montserrat', sans-serif;
}

.clear {
    margin: auto;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: block;
    background-color: white;
    border: none;
    font-size: 10pt;
    color: #66cccc;
}

.clear:hover {
    cursor: pointer;
}

.msubmit {
      width: 235px;
      height: 61px;
      border-radius: 30.5px;
      background-color: #66cccc;
      border: none;
      font-size: 10px;
      font-weight: bold;
      font-family: 'Montserrat', sans-serif;
      line-height: 4.75;
      letter-spacing: 2.9px;
      text-align: center;
      color:white;
      margin: auto;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      display: block;
      transition: 0.3s;
}

.msubmit:hover {
    cursor: pointer;
    border-style: solid;
    border-width: 3px;
    border-radius: 0px;
    border-color: #66cccc;
    color: #66cccc;
    background-color: white;
}

.msubmit2 {
      border-radius: 30.5px;
      background-color: white;
      border-style: solid;
      border-width: 3px;
      border-color: #66cccc;
      transition: 0.3s;
      width: 235px;
      height: 61px;
      font-size: 10px;
      font-weight: bold;
      font-family: 'Montserrat', sans-serif;
      line-height: 4.75;
      letter-spacing: 2.9px;
      text-align: center;
      color:#66cccc;
      margin: auto;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      display: block;
      transition: 0.3s;
}

.msubmit2:hover {
    cursor: pointer;
    border-radius: 0px;
}

#linkedinbtn {
    width:20px;
    height: auto;
}

#topspace {
    margin-top: 50px;
}

#beavver {
    width: 100px;
    height: auto;
}

#arrow {
    width: 700px;
    height: auto;
    margin-left: -100px;
    transform: translateY(330px);
}

#imgcenter {
    text-align: center;
}

#regibox {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 500px;
    border-radius: 5px;
    padding: 20px;
    border-style: dashed;
    border-color: #9fa3a7;
}

.regititle {
    font-family: 'Arvo', sans-serif;
    font-size: 30px;
    line-height: 1.28;
    text-align: center;
    color: #292929;
}

.regiinput {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 12pt;
    color: #66cccc;
    font-family: 'Montserrat', sans-serif;
}

#dashline {
    border-style: dashed;
    border-color: #9fa3a7;
    margin: 0;
}

#rmbme {
    font-size: 12pt;
    color: #66cccc;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 20px;
}